
__pycache__/
*.py[cod]
*$py.class

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

.idea
venv
venv*


.ipynb_checkpoints
/.ipynb_checkpoints
/*/.ipynb_checkpoints

data.*
dump.*